@font-face {
    font-family: Iosevka;
    src: url('../data/fonts/iosevka-regular.ttc') format('truetype');
}

body {
    background-color: rgb(245, 235, 221);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.box{
    width: 60%; /* Set your desired width */
    height: 600px; /* Set your desired height */
    background-color: #f0f0f0; /* Set your desired background color */
    text-align: center; /* Center text inside the box */
    padding: 20px; /* Add some padding for spacing */
    border: 5px solid;
    box-shadow: 6px 6px 6px ;
    border-radius: 15px;
}

.header{
    display: flex;
    justify-content: space-between;
}

.home{
    border-radius: 5px;
    background-color: #f0f0f0;
    padding-left:8px;
    padding-right: 8px;
}

.home:hover{
    background-color: #cfcdcd;
    border: 0px;
    box-shadow: 2px 2px 3px; 
    padding-left:8px;
    padding-right: 8px;
}


a {
    font-family: Iosevka;
    color: black;
    text-decoration: none;
    font-size: 16px;
}

.header-button{
    padding: 7px 11px;
    margin-left: 15px;
    margin-right: 15px;
    border-radius: 5px;
    background-color: #f0f0f0;
}

.header-button:hover{
    background-color: #cfcdcd;
    border: 0px;
    box-shadow: 2px 2px 3px; 
}

.header-button#projects {
    background-color: #cfcdcd;
    border: 0px;
    border-radius: 5px;
    box-shadow: 2px 2px 3px; 
}
@media screen and (max-width: 768px) {
    .box {
        width: 90%; /* Adjust the width for smaller screens */
    }

    .header-button {
        font-size: 14px; /* Reduce font size for header buttons */
    }

    /* Adjust other styles as needed for smaller screens */
}

/* Add responsive styles for even smaller screens (e.g., smartphones) */
@media screen and (max-width: 480px) {
    .box {
        width: 95%; /* Further reduce width for smaller screens */
    }

    .header-button {
        font-size: 12px; /* Reduce font size for header buttons on smaller screens */
    }

    /* Adjust other styles as needed for even smaller screens */
}